<div class="row"></div>
	<% @property.each do |eachproperty| %>
	<div class="row">
    <div class="card">
      <div class="card-image">
        <a href="/properties/<%= eachproperty.id %>"><img src="<%= eachproperty.image %>">
        <span class="card-title"><%= eachproperty.title %></span></a>
      </div>
      <div class="card-content">
        <span class="card-title"><p>Price: <%= eachproperty.price %></p>
        <p><%= eachproperty.description %></p></span>
      </div>
      <div class="card-action">
        <% if current_user.id != eachproperty.user.id %> 
          <a class="waves-effect waves-light btn" href="/properties/<%= eachproperty.id %>/book"><i class="material-icons left">sms</i>Book</a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>


<% if logged_in? %>
  <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href="/properties/new">
      <i class="large material-icons">store</i>
    </a>
  </div>
<% end %>

<style>
IMG.smalllisting
{
max-width: 100px;
max-height: 100px;
}
</style>